[2015-09-01 11:36] Visorox opened #1 "Can't build swift2 branch with Carthage in xcode 7 beta 6"
[code]

[2015-09-02 15:30] mcmurrym commented on #1
I don't know much about Carthage so I'll need some more details. If we have to add carthage support to the repo I'll invite you to go for it :)

[2015-09-02 16:39] Visorox commented on #1
I've had a quick look into this. Carthage is building with the Release configuration for which ENABLE_TESTABILITY is false (for obvious reasons).

In the scheme for build it builds both the PSOperations target and the PSOperationsTests target. Do you know of a way to turn this off for release builds?

[2015-09-02 16:42] Visorox commented on #1
Here's more details about this issue https://github.com/Carthage/Carthage/issues/517

[2015-09-03 21:36] Visorox commented on #1
Brilliant. It works for me now!

[2015-09-03 21:37] #1 closed

[2015-09-04 20:00] mcmurrym opened #4 "calling finish() inside of execute causes completionBlock to execute twice"
When finish() is called within execute() (or main(), which execute() is in) The completionBlock property of NSOperation executes twice. I think this is because we switch to finished state while in main (the first completionBlock execution because of KVO messages being sent) and when main exits the operation is then asked if it is finished and it executes the completionBlock a second time.

[2015-09-04 20:01] mcmurrym commented on #4
The simple solution is, don't use completionBlock as it is a little bit mysterious anyway.

[2015-09-11 19:12] bwhiteley opened #6 "Crash when two threads check readiness concurrently."
I've seen a crash twice when two threads are in the getter for Operation.ready at the same time.
The prior state was .Pending. Both threads end up in evaluateConditions, and try to set the state to .EvaluatingConditions. The second thread hits the assertion at Operation.swift:129
                  assert(_state.canTransitionToState(newState, operationIsCancelled: cancelled), "Performing invalid st

[2015-09-11 21:01] mcmurrym commented on #6
This is going to be hard to consistently repo. I know one change we can make is to follow the multi-reader pattern so only writing the state will have an exclusive lock on `_state` and concurrent reads will not wait on one another.

[2015-09-16 10:20] Visorox opened #7 "Can't use in extensions"
in Target -> General -> turning "Allow app extension API Only" will prevent the project from using any API's that are not allowed in app extensions.

As it happens AlertOperation uses one such API which is ```UIApplication.sharedApplication()``` To make this extension ready this code needs to be refactored.

[2015-09-16 10:25] Visorox commented on #7
Sorry, ignore this. Turns out I was looking at my fork which I accidentally added AlertOperation to from the AdvancedNSOperations sample code.

[2015-09-16 10:25] #7 closed

[2015-09-24 09:29] phucnd0604 opened #9 "crash with URLSessionTaskOperation"
I have crashed when user URLSessionTaskOperation
The reason is "Cannot remove an observer"
help please

Terminating app due to uncaught exception 'NSRangeException', reason: 'Cannot remove an observer <PSOperations.URLSessionTaskOperation 0x7fc7eb528f50> for the key path "state" from <__NSCFLocalDownloadTask 0x7fc7eb5417e0> because it is not registered as an observer.'
*** First throw call stack:

[2015-09-29 17:58] gblotter opened #10 "Cocoapod and/or Carthage Packaging"
Love the concept, my dev team had thought to do the same thing.  Would you consider making it a Cocoapod and/or allowing for Carthage integration?

Cocoapod needs the pod spec, and for you guys to publish... I can submit a pull request for the pod spec, but the publishing part is up to you guys...

Carthage... I believe all you need to do is tag your repo so that Carthage has something to pull aga

[2015-09-29 18:24] #10 closed

[2015-10-04 14:04] purrrminator commented on #6
same issue happens to me

[2015-10-06 10:00] purrrminator opened #15 "`finished` callback invoked before the op is getting .finished state"
would it be better to move this line:
https://github.com/pluralsight/PSOperations/blob/e8c1387f373d586560ccfa48feb9ddd34cc04fe5/PSOperations/Operation.swift#L345
below this one:
https://github.com/pluralsight/PSOperations/blob/e8c1387f373d586560ccfa48feb9ddd34cc04fe5/PSOperations/Operation.swift#L351

[2015-10-07 14:06] ThomasSempf-Stendahls commented on #6
same here

[2015-10-07 14:08] mcmurrym commented on #6
okay... I'll try to give this attention soon.

[2015-10-09 20:26] gblotter opened #16 "Published as a Cocoapod?"
Hey, just checking in to see if you guys have published this as a cocoapod yet

[2015-10-09 20:28] MarkQSchultz commented on #16
We have pushed a tag (`2.0`) to master. We are now waiting on @sstigler to make some changes on PR #14. Once he (or anyone else) makes those changes, I can work on publishing the pod to `trunk`, or whatever it is that's necessary.

[2015-10-09 20:29] MarkQSchultz commented on #16
@gblotter If you want this to get done sooner, you could replicate the changes in your own PR and I'll merge it.

[2015-10-09 20:38] gblotter commented on #16
So if I understand correctly, it's the conformance to the 2.0 tag you're waiting for on PR #14 ?

[2015-10-09 20:39] MarkQSchultz commented on #16
That and the line notes added, namely:

Could you add
`s.watchos.deployment_target = '2.0'`
and
`s.osx.deployment_target = "10.11"`?

[2015-10-09 20:40] MarkQSchultz commented on #16
Along with the changes he made in https://github.com/sstigler/PSOperations/commit/dd659f19bdd8a7598775abb7ca1ee6496b618c44

[2015-10-09 20:42] gblotter commented on #16
Ok, if I have time today I'll try and get that done. Thanks for your patience with me ;)

Thanks,

Geoff

--
Geoffrey Blotter
(801) 7(tel:(801)%20717-7837)17-7837(tel:(801)%20717-7837)

Sent from my iPhone via Spark

On Oct 9, 2015, 2:40 PM -0600, Mark Schultz<notifications@github.com>, wrote:

[2015-10-09 20:43] MarkQSchultz commented on #16
Also, I hear you're working with my good friend @corykon now!

[2015-10-09 20:49] gblotter commented on #16
Yessir.. maybe I'll have him fix this, as he learns how to Swift!

[2015-10-09 21:35] gblotter commented on #16
So...  #14 TVOS support... I actually disagree putting this in to your main branch, as the software/SDK is still in beta.  Just to lint the podfile, I'd have to install a beta version of Xcode to pull down a tvos simulator.  It's not hard to add in the future, but for me, I would put this in a beta branch.  Those are just my two cents.

The rest of those changes are ready and I can create a PR any

[2015-10-09 22:20] MarkQSchultz commented on #16
I think I agree with you. If putting in the tvOS support requires you to run a beta Xcode, then it shouldn't be in master.

[2015-10-12 16:26] gblotter commented on #16
Ok, I just created a PR... #17 with the stuff that you were looking for.  Let me know if you need any changes.  I left out TVOS, it could possibly go in a separate branch.

[2015-10-12 16:28] MarkQSchultz commented on #16
Cool. I'll merge it when the build finishes, though you didn't make any changes that should affect the build status. After merging, I'll try and finish up whatever else is needed to officially publish the pod.

[2015-10-12 16:50] MarkQSchultz commented on #16
https://twitter.com/CocoaPodsFeed/status/653612490178301952

[2015-10-12 16:50] gblotter commented on #16
Rock on, thanks!

[2015-10-13 15:17] #16 closed

[2015-10-13 15:18] MarkQSchultz commented on #15
Is this causing undesired or unexpected behavior?

[2015-10-13 15:21] MarkQSchultz commented on #9
We too have seen this, but cannot figure out the cause. Any ideas?

[2015-10-13 15:43] purrrminator commented on #15
yes because I use `finished` callback and check inside the callback whether my OperationQueue has unfinished operations (op.state == .finished)

[2015-10-24 07:11] leotumwattana opened #21 "Make AlertPresentation public?"

[2015-10-24 14:01] maremmle opened #22 "Working with NSOperation subclasses"
Hi,

I am working with both `NSOperation` subclasses (in particular CloudKit's `CKOperation`) and `PSOperation` classes at the same time. In order to be able to take advantage of the additional features, such as the conditions or `finishWithError()`, I would need to subclass all my Operations from the `Operation` base class. Obviously I can not do that for `CKOperation` subclasses. So I am wrappin

[2015-10-26 17:15] MarkQSchultz commented on #22
@maremmle, I think you're probably doing it the best way. The only alternative I can think of is to create a `GroupOperation` subclass that takes an `NSOperation` and a condition. It would essentially do what you're already doing, except maybe do it all in the `init` instead. For example:

[code]

Disclaimer: I haven't tried compiling that at all.

This would allow for less code duplication. Could

[2015-10-26 17:17] MarkQSchultz commented on #21
I'm curious why you'd like this to be public? Not saying it shouldn't be, just want to know what you want to use it for.

[2015-10-26 17:37] MarkQSchultz commented on #6
@purrrminator and @ThomasSempf-Stendahls are you sure you are not adding the same instance of the operation to 2 queues? Otherwise, how are 2 different threads acting on the state of the same operation?

[2015-10-26 18:05] purrrminator commented on #6
@MarkQSchultz I'm pretty sure I'm not doing this. I have only one non-concurent singleton queue in my app. The problem seems to solved to me, but I can't remember how. I might have been finished the operation (calling `finish()`) *before* it actually done all the work.

[2015-10-26 18:08] bwhiteley commented on #6
I'm sure I'm not adding it to 2 queues. It seems to be a race condition, so I don't have a consistent way to reproduce it. I do have a lot of crash reports all pointing to the same problem.

[2015-10-26 18:08] MarkQSchultz commented on #6
NSOperationQueue throws if an operation is added to more than 1 queue. The logic in OperationQueue was asserting before NSOperationQueue has a chance to check and throw. I've created a solution for this. #23 If you could review it and let us know what you think, that would be great.

[2015-10-26 21:46] MarkQSchultz commented on #9
see #24 Unfortunately we don't know how to write a test for this.

[2015-10-26 21:59] MarkQSchultz commented on #15
After reviewing the code and the documentation for `NSOperationQueue`, we believe there may be a better way to do what you're wanting. According to the docs for the `operations` property of `NSOperationQueue`:

In other words, if the `operations` array is not empty, it means that there are operations that have not finished (as of the time that the array was created). You can also use KVO to observ

[2015-10-26 21:59] #15 closed

[2015-10-26 22:00] MarkQSchultz commented on #21
Closing this issue. If you feel you really need this change, feel free to submit the change in a PR and we can have a discussion there.

[2015-10-26 22:00] #21 closed

[2015-10-26 22:02] MarkQSchultz commented on #22
Closing this issue. Feel free to continue the discussion though. I'd be glad to help out however I can. Either way, probably not a change that needs to be made to the `PSOperations` library itself, but could be made in your own project.

[2015-10-26 22:02] #22 closed

[2015-10-26 22:04] MarkQSchultz commented on #4
Not going to fix for now, but is a problem still.

[2015-10-26 22:04] #4 closed

[2015-11-05 23:49] MarkQSchultz commented on #6
Hey all, we believe we have a fix for this, please review #30. Thanks!

[2015-11-09 23:24] MarkQSchultz commented on #6
#30 was merged. This is fixed.

[2015-11-09 23:24] #6 closed

[2015-11-09 23:24] MarkQSchultz commented on #9
#24 has been merged. This is fixed

[2015-11-09 23:24] #9 closed

[2015-12-02 04:06] kevinbrewster opened #32 "Dependent operation doesn't start"
When I run the below code in simulator, "OP2 DONE" only prints out ~5% of the time.

[code]

Seems to be a bug in Operation.swift in "override public var ready". Problem area is here:

[code]

My code works as correctly if I change to:

[code]

I'm not sure if this is the correct solution though.

[2015-12-16 08:35] ericallam opened #34 "HealthCondition is importing HealthKit (causing app rejection)"
I recently submitted to app review for the first time after incorporating PSOperations into my project and was rejected because of HealthCondition. I wasn't using it, but it does import HealthKit and it was included in my target. The app review team didn't like that (the app I submitted is a game and not related to health at all) and so I was rejected because of:

"Apps using the HealthKit framewo

[2015-12-16 17:56] MarkQSchultz commented on #34
We've seen a similar issue with wallet. Our app is marked as supporting wallet, even though we don't use it at all.

[2015-12-18 15:48] jeremyquinn opened #35 "Completion Block called twice"
I have classes extending Operation, that add a completionBlock to self during init, to run a custom completionBlock.
The completionBlock is running twice.
There was a similar problem with Dan Thorpe's Operations GitHub project, it looks very similar : https://github.com/danthorpe/Operations/issues/123

[2015-12-22 17:52] aureliensibiril opened #36 "Crash randomly on CriticalScope"
Hello,

I'm trying to integrate PSOperations in my project and I randomly get this crash while running a few Operation. I'm trying to figure out why but I can't reproduce it every time. I need to restart the operations a few times before crashing.

EDIT : No Idea if it can help but it's a project who mix objective-C and Swift 2

Exception Type:  SIGSEGV

[code]

[2016-01-11 15:07] mcmurrym commented on #36
@aureliensibiril if you can come up with a sample function or project that will reproduce it mostly consistently that could help us all figure out what is happening

[2016-01-11 15:11] mcmurrym commented on #35
I think the fix should be not allowing `completionBlock` property to operate at all within `PSOperations`. We have seen this issue, we have also seen weird time of the execution of the block which makes the state of the operation in the `completionBlock` inconsistent (regardless of `PSOperations`). I believe @davedelong has even filed a radar to have this property deprecated. If you want to execut

[2016-01-11 15:14] davedelong commented on #35
I'd totally be in favor of seeing this property marked as unavailable. And yes, I did file that bug: <rdar://problem/23915499> Deprecate completionBlock

[2016-01-11 15:17] mcmurrym commented on #32
@kevinbrewster Test your problem on the latest master (not synced with cocoa pods yet) It may or may not fix it. We are aware of an issue when `maxConcurrentOperationCount` is set to 1 that still exist and may be what you are seeing. You are welcome to try your code change and run the tests against them and submit a pull request.

[2016-01-11 15:24] mcmurrym commented on #34
Hmmm I think the true fix is that Apple shouldn't assume you are using an Apple feature just because you import a framework. The capabilities list under your app target are what should be used to determine what your app uses... I would double check your capabilities list and make sure Health isn't enabled?

[2016-01-12 15:27] jeremyquinn commented on #35
Hi Guys
Thanks for this.
Yes, I worked around the problem by performing the custom completion block either in a defer clause in Operation.execute or in the case of a GroupOperation, wrapped in a BlockOperation, with the correct dependencies to run last.
This is such a great framework, thanks for all of your work!!

[2016-01-18 11:26] niklassaers opened #39 "Operation missing in generated -Swift.h file"
Hi,

in my project I used PSOperations, and I have subclassed ```Operation``` like so:
```class NetworkBlockOperation : Operation { .... }```
where I override ```execute()```

I use PSOperations through CocoaPods,

When I compile, my -Swift.h file contains:

[code]

but Operation is not defined in that file, so I get a "Cannot find interface declaration for 'Operation'" build error. My subclass co

[2016-01-22 09:14] niklassaers commented on #39
In the same -Swift.h file is:
[code]

Turns out ```__has_feature(modules)``` returns false. So this is not a PSOperations problem at all.

[2016-01-22 09:14] #39 closed

[2016-01-24 15:40] fernandomorgan commented on #34
Also had that rejection at first, but app was approved after email response. Even so, might be better to remove those if you aren't using it

[2016-02-18 22:06] agiletortoise opened #48 "Moving Capabilities out of main project"
As it currently stands with Capabilities all wrapped in the project it presents rollout problems in a number of scenarios.  Requiring frameworks that aren't otherwise needed, breaking building PSOperations into iOS Extensions (sharedApplication calls), etc.

They are also causing some App Store oddities (like showing an app is Wallet enabled).

Not sure I have a suggestion for the best way to mana

[2016-02-18 22:18] agiletortoise commented on #48
Never mind. Found related pull request, will catch up there.

[2016-02-18 22:18] #48 closed

[2016-02-29 13:38] niklassaers commented on #32
@mcmurrym Could you tell a bit more about the maxConcurrentOperationCount == 1 situation? I may have run into it, where operations with dependencies and the dependencies themselves get stuck while being .Ready and operations without dependencies running through the NSOperationQueue without a problem. Increasing maxConcurrentOperationCount to 4 solved the problem, but I wanted to have it as 1 to be

[2016-03-08 23:09] craigmarvelley commented on #32
@niklassaers possibly related to this? https://github.com/pluralsight/PSOperations/commit/255717a3d755ec1efb2203b9e19ffa8cefc7097e#diff-2aafa95fccf992bfd34d33bb7e6eeb4aR667

FWIW I've been seeing a similar issue to yours on [this repo](https://github.com/inspace-io/INSOperationsKit) which is a port of PSOperations to Objective-C. Your fix from above, applied to that repo, also fixes the issue I wa

[2016-03-11 12:26] oskarek opened #50 "Building with Carthage for tvOS platform produces error"
Trying to build for tvOS platform with Carthage produces this error:
[code]

[2016-03-25 15:50] matteomatassoni opened #51 "Problem with App extensions"
Both the `PushCapability` class and `UserNotification`struct uses UIApplication.sharedApplication() to invoke notification APIs, which as it is stated inside Apple documentation is not available in app extensions.

[2016-03-25 15:59] MarkQSchultz commented on #51
We have already merged fixes for this into master. Are you using cocoapods or carthage?

[2016-03-25 16:00] matteomatassoni commented on #51
I'm using cocoapods

[2016-03-25 16:00] MarkQSchultz commented on #51
Ok, I'll add a new tag and push to trunk

[2016-03-25 16:37] MarkQSchultz commented on #51
Ok, I pushed to trunk. Should be version 2.2.0. Try it out and let me know how it goes.

[2016-03-25 16:57] MarkQSchultz commented on #51
@matteomatassoni I'm going to close this issue for now. Let me know if there's still a problem.

[2016-03-25 16:57] #51 closed

[2016-03-28 10:48] #50 closed

[2016-04-19 08:25] purrrminator opened #53 "Enqueued operation never started"
Trying to enqueue two operations like following:
[code]
This way:
[code]
The second operation never started.

Example project link https://www.dropbox.com/s/5yk8j9bow43a1nt/QueueBug.zip?dl=0

[2016-04-19 08:50] purrrminator commented on #53
The problem is that you set `ready=false` here
[code]

[2016-04-19 09:02] purrrminator commented on #53
I propose not to set `_ready = false` unless the operation actually has some conditions.
[code]

[code]

[2016-04-19 13:23] #36 closed

[2016-04-19 20:19] agiguere opened #55 "GroupOperation Produce vs Add Operation"
This is not an issue, since there is not much documentation about it I have to ask!

In a group operation, it seems there are 2 ways of creating a new operation

let say my group operation has 3 operations [A, B, C]

I want to produce operation C after operation B but only if B finish successfully

I do this in method operationDidFinish

I check for Operation B then create operation C

I could use

[2016-04-20 09:25] purrrminator commented on #55
Personally, I see only one difference between those two: `produceOperation` triggers the observer if you have set up one.

[2016-04-20 12:55] agiguere commented on #55
yes I also see that addOperation will trigger this method

func operationDidFinish(operation: NSOperation, withErrors errors: [NSError])

but not produceOperation, so if you are waiting for an operation to finish to create a new one, the right choice seems to be addOperation

last question: logically operation dependancy should only execute if preceding operations succeeded, however this is not ho

[2016-04-20 13:05] purrrminator commented on #55
I don't know the best practice, but I prefer the second way.

[2016-04-20 13:08] agiguere commented on #55
thanks!

[2016-04-20 13:08] #55 closed

[2016-05-10 18:12] agiguere opened #58 "Operation _internalErrors should be public"
The array of internal errors should be public in class Operation

private var _internalErrors = [NSError]()

Example: in a group operation when producing a new operation, sometimes you don't need the first error of your first operation because you will generate a new one and at the end, you only need the last errors .... You should make this array pubic or provide an API to reset the array

let me

[2016-05-24 21:52] leotumwattana opened #60 "iop_promote_qos_only_nolock"
Hi,

Scratching my head on this one. Anyone experiencing this crash? My app doesn't really use NSOperation outside of PSOperations. So, I'm guessing my issue is stemming from here. The only other place I can think of are the CloudKit operations.

Many thanks in advance.

[code]

[2016-05-27 03:13] leotumwattana commented on #60
So I've been in contact with Apple DTS and thought I'd include their reply so far.

[code]

[2016-05-27 03:30] leotumwattana commented on #60
Also, is there a way for me to put a bounty on this one? I've never really done a bounty before, so don't know what the process it. Would love some added help with this one. Cheers!

[2016-05-30 23:09] agiguere opened #61 "Nice to have: NetworkObserver"
Originally the Apple WWDC 2015 sample code was provided with a NetworkObserver class, pretty useful

I don't know why you drop it or maybe you forget to add it ?

alex

[2016-07-06 05:03] andresbrun commented on #34
Is there any chance to solve this issue (by merging the proposed PR for instance)? I've run into the same problem. I have been chatting with App Store review team but the proposed solution is either remove PSOperations or to talk with their owners to remove HealthKit.framework.

Thanks in advance

[2016-07-06 05:24] gblotter commented on #34
@MarkQSchultz and @mcmurrym - Hey Guys 😊 Just tried to get The VOID's new app approved through Apple, and ran into the same problem.  Do we know what the current work around it?

[2016-07-06 05:26] mcmurrym commented on #34
Let’s put the wallet and the health ones separate repos for now. I’ll work on this tomorrow morning.

[2016-07-06 16:07] mcmurrym commented on #61
the NetworkObserver only works on iOS, the library works on all platforms and extension targets. We may consider re-adding it but it would not be a part of the framework.

[2016-07-06 16:11] mcmurrym commented on #35
We have now deprecated the completionBlock property within PSOperations.

[2016-07-06 16:11] #35 closed

[2016-07-06 16:24] mcmurrym commented on #58
See https://github.com/pluralsight/PSOperations/pull/56

[2016-07-06 16:24] #58 closed

[2016-07-06 16:32] mcmurrym commented on #53
see #63 hopefully will get it merge soon.

[2016-07-06 16:37] mcmurrym commented on #34
Sorry for the delay. I'll have a pull request up later today that keeps these in the same repo, but not included in the target/framework. You will be able to add them to your own project/target(s) if you need them.

[2016-07-06 16:40] mcmurrym commented on #60
I have never seen this issue in PSOperations and this issue does not have enough detail for us to narrow down the problem if it is part of PSOperations. Please research this further and feel free to reopen the issue if you have more details that can help or instruct us on how to reproduce the issue.

[2016-07-06 16:40] #60 closed

[2016-07-06 17:14] purrrminator commented on #53
@mcmurrym Yeah, it's a better solution!

[2016-07-06 17:27] mcmurrym commented on #34
See #64

[2016-07-06 20:52] mcmurrym commented on #34
#64 merged, this issue should be resolved.

[2016-07-06 20:52] #34 closed

[2016-07-08 16:48] mcmurrym commented on #53
#63 merged

[2016-07-08 16:48] #53 closed

[2016-07-08 21:02] mcmurrym commented on #32
This may be fixed, please try the latest.

[2016-07-15 01:58] agiguere commented on #61
ah I see, yeah that could be bundle as an add-on for iOS only

thanks

[2016-07-19 01:11] automactic commented on #34
@mcmurrym No, this issue still exist. However, I was able to remove the health kit and wallet related file by using `pod 'PSOperations/Core', '~> 2.3'`. Will you consider modifying readme.md, so others won't have their app rejected?

[2016-07-19 02:52] mcmurrym commented on #34
k, so it is fixed, just needs a readme update, there is already a pull request for it. Glad you got it worked out.

[2016-07-19 17:14] gblotter opened #67 "Swift 2.3 compatibility"
Would love to see this framework updated for Swift 2.3 compatibility!!

[2016-07-20 04:07] jcarroll-mediafly opened #69 "Cancelling group operation"
Was wondering what people's thoughts are on the `GroupOperation` cancellation. I'm in a situation where the queue (or `GroupOperation` directly) gets cancelled. The cancel method on `GroupOperation` will then cancel all the internal queue operations and finally call `super.cancel()`.

The issue is that the queue delegate will finish all the internal operations before super is called. Which means t

[2016-07-20 04:23] jcarroll-mediafly commented on #69
Or add a lock around the original lines in `cancel()` and the `finish(aggregatedErrors)` in the queue callback.

[2016-07-27 02:38] agiguere commented on #67
same for me, I have a couple of enterprise apps that depend on this framework and we are currently starting the process of testing iOS 10, can we have an ETC when this will be done

thanks

alex

[2016-07-28 12:00] therauli opened #71 ""evaluateConditions() was called out-of-order" assert in Operation.swift is sometimes failing"
I have a rather big code base that was using the the code based on the the WWDC presentation code. I recently discovered PSOperations and updated our code base using that. Now for some reason the assert in Operation class evaluateConditions is failing when my operation inherited form GroupOperation gets cancelled.

I'm puzzled since the failure occurs rarely. The code base uses Operations and espe

[2016-08-05 12:22] andresbrun commented on #34
Just an quick note: this works for Cocoapods but as far as I know is still an issue if you use Carthage.

[2016-08-08 12:42] argie9999 commented on #67
+1

[2016-08-08 14:53] MarkQSchultz commented on #67
FYI @agiguere and @argie9999, there is a PR (#68 ) for this. It's not passing the automated build. So as soon as someone makes the necessary changes, we can merge it.

[2016-08-08 15:38] gblotter commented on #67
Working on it...

[2016-08-08 16:23] MarkQSchultz commented on #67
@gblotter @agiguere @argie9999 I'm curious why you guys are choosing swift 2.3 over swift 3 and when you'll make the switch to swift 3

[2016-08-08 16:25] gblotter commented on #67
@MarkQSchultz it was my understanding that Swift 3 was still changing... I figured that Swift 2.3 would be more stable.

[2016-08-08 16:27] MarkQSchultz commented on #67
That's accurate. There have been changes with every beta of Xcode. So when Xcode is released and no more swift changes are going in, are you going to migrate to Swift 3?

[2016-08-08 16:28] gblotter commented on #67
That's the plan...

[2016-08-08 16:29] MarkQSchultz commented on #67
Sounds good. Just trying to figure out what we do when xcode is released. I'd rather not have to support multiple versions of swift at that point.

[2016-08-08 16:34] gblotter commented on #67
Hmm...  I'd suggest that when that time comes you either branch or tag and then have the disclaimer that you're not offering continuous support for Swift 2.3... but that branch will build, etc.

[2016-08-09 16:06] gblotter commented on #67
@MarkQSchultz - Also, I don't know the time line of some of the other frameworks I use in my project and when they're going to be switching over to Swift 3.0, so this seems like a good step.

[2016-08-12 07:01] t089 opened #74 "cancel should not call finish, should it?"
I am a bit surprised to see that the `cancel` implementation of `Operation` calls `finish` by itself, if `state > .Ready`. Shouldn't `cancel` only mark the operation as _cancelled_ ? Isn't it the responsibility of the operation to check for this flag, and if `true`, stop its work, clean up and only then transition to the `finished` state? Or am I missing something?

[2016-08-12 14:15] jcarroll-mediafly commented on #74
Yeah, I struggled with this a bit myself. Especially when using group operations and dealing with race conditions.

If you haven't seen my reported issue I would like to hear other's thoughts on it. Shameless  plug for advice :D

https://github.com/pluralsight/PSOperations/issues/69

[2016-08-12 16:19] MarkQSchultz commented on #74
@t089 I agree. This was pointed out quite a while ago too. One of the reasons we haven't changed it yet is that it's a pretty big breaking change.

[2016-08-12 17:05] t089 commented on #74
Ok, well I guess it is a big change, but it is also quite a big mistake in the implementation. In its current form a call to cancel will immediately fire the completion observers and clients would think that the op finished its work, while in reality it might still be very busy and do stuff. Even worse, when it is done it can't call the didFinish observer again because it already fired.

[2016-08-12 17:06] MarkQSchultz commented on #74
You do realize that I already said that I agree with you, right? Not sure the point of most of that comment...

[2016-08-12 17:10] t089 commented on #74
Yup just wanted to add some more arguments pro change. Sorry if you feel it was redundant.

[2016-08-12 17:36] MarkQSchultz commented on #74
👍This would be a good change. Just a big one at this point. That's all. I would want to version the framework on this change though, as it is a breaking change.

[2016-08-15 15:30] agiguere commented on #67
I tried to update my project using Xcode 8 beta 4 with your branch swift2_3 and I got the following error

Module file was created by an older version of the compiler; rebuild 'PS Operations' and try again:

I also change the build settings for Use Legacy Swift Language Version to YES (for swift 2.3)

any idea?

[2016-08-15 15:59] gblotter commented on #67
@agiguere What version of Xcode is your command line tools using?  I got that when I had compiled PSOperations (via Carthage) w/ Xcode 7.3 command line tools.  I changed it to Xcode 8 and recompiled, and it went away.

[2016-08-15 16:35] agiguere commented on #67
@gblotter that make sense, but how do you specify that carthage should use Xcode 8 vs Xcode 7 ?

thanks

[2016-08-15 16:52] gblotter commented on #67
@agiguere:

`Xcode -> Preferences -> Locations -> Command Line Tools`

[2016-08-15 17:12] agiguere commented on #67
@gblotter thanks

I download the latest version of carthage 0.17.2 and now I got the following error

maybe I should go back to my previous version 0.16.2 cause I was able to run & build the framework with no problem

warning: no umbrella header found for target 'PSOperationsHealth', module map will not be generated
warning: no umbrella header found for target 'PSOperationsHealth', module map will

[2016-08-15 17:19] agiguere commented on #67
@gblotter I successfully build the framework for PSOperation and that's the only thing I needed,

however these errors were for the PSOperationHealth and Passbook, these frameworks have not been generated

Like I said it was working before and the only thing I changed was to update carthage to latest version and change the command line tools for Xcode 8, it's either one of them that cause this err

[2016-08-17 20:20] agiguere commented on #67
a little bit disappointed that you opt for swift 2.3 over swift 3,

you should offer  branch to swift 3, since we can't mix swift 2.3 & swift 3.0, I will have to stick with swift 2.3 (which will die anyway) in all my projects,

I like to used the latest and greatest

[2016-08-17 20:55] MarkQSchultz commented on #67
@agiguere I have a few thoughts:

1. This is simply an issue and a PR. Nothing has actually been done yet. Nothing has been merged. There is still potential for Swift 3.0 support.
2. Even if it was merged, this is open source. That means that you could just as easily submit a PR with Swift 3.0 support if that's what you think is correct
3. You were the very first person to reply and say that you,

[2016-09-08 13:32] agiguere opened #77 "Swift 3 - Method does not override any method from its superclass"
After migration, I got this error:

Method does not override any method from its superclass

My class is a subclass of GroupOperation and I have a redefinition on operationDidFinish

it used to work, I check the new method definition, its mark as OPEN so I should be able to subclass it in Swift 3, don't know yet why the compiler is complaining

class StartupOperation: GroupOperation {
...
override

[2016-09-08 16:29] MarkQSchultz commented on #77
Are you on the Swift3 branch?

[2016-09-08 16:30] agiguere commented on #77
yes

[2016-09-08 16:33] MarkQSchultz commented on #77
I see the issue. Compare the two signatures.

From `GroupOperation`:
`open func operationDidFinish(_ operation: Foundation.Operation, withErrors errors: [NSError]) {`

and yours:
`override func operationDidFinish(_ operation: PSOperations.Operation, withErrors errors: [NSError]) {`

[2016-09-08 16:38] agiguere commented on #77
right on!!

thanks

[2016-09-08 16:38] #77 closed

[2016-10-21 16:00] ideity opened #79 "Swift 3?"
Are there any plans to update this for Swift 3?

[2016-10-21 16:03] MarkQSchultz commented on #79
We do have a swift3 branch. We have not yet merged it into master. We still need to decide if we want to rename the classes from `Operation` -> `PSOperation`, since the `Foundation` class changed from `NSOperation` to `Operation`. That caused a conflict in naming. The workaround is to use the `PSOperation` typealias or to explicitly type each operation (i.e. `PSOperations.Operation`).

[2016-10-24 15:37] dreamume opened #80 "Why not use extension to make default implementation for OperationObserver protocol?"
Hey,

Sometimes I use OperationObserver protocol, but I only want to do something in operationDidFinish func. I must also implement the other 3 funcs, too.

If I add bellow extension, I can only implement operationDidFinish function only!
[code]

So I think It will make OperationObserver protocol better to use.

[2016-10-24 15:49] ideity commented on #79
Can't wait to see what comes of it!.

[2016-10-24 16:30] MarkQSchultz commented on #79
We will be making this change today and hopefully merging it into `master`

[2016-10-25 14:48] agiguere commented on #79
Have you decide to rename the class or use the type alias ?

I think it's more clean to rename it to PSOperation ...

[2016-11-15 10:48] niklassaers opened #82 "make state's getter public"
I'd love to be able to query my operation for its state when I'm debugging. Would it be all right to make the getter public? Or at the very least private so I can make an extension that will expose it?

I tried doing this in my own branch, but I realised that I didn't understand the stateLock.withCriticalScope well and thus would possibly code myself into a deadlock

[2016-11-24 07:20] ichagall opened #83 "call cancel() method didn't finish the operation!"
for the executing operations , call cancel() don't finish the operation really,  the method just mark the operations' state as hasFinished and remove the operations from the queue, in fact these operations are still running.

[2016-11-24 16:09] sirnacnud opened #84 "LocationOperation issue with CLLocationAccuracy constants"
If you create a `LocationOperation` with accuracy set to `kCLLocationAccuracyBestForNavigation`, the location handler won't be called, as in `didUpdateLocations`, the horizontal accuracy of the current location is compared to the accuracy the user specified. The problem is that `kCLLocationAccuracyBestForNavigation` is defined as `-2`, so the only time the current location will have a negative hor

[2016-11-26 11:23] msaflund commented on #79
Using type aliases. Why do I get errors for all PSOperation types like below?
"'Operation' is ambiguous for type lookup in this context."

[2016-11-28 16:50] MarkQSchultz commented on #79
Hey @msaflund. You'll have to make sure that any object or method signature that uses `Operation` is disambiguated, either by changing it to `PSOperation`, `PSOperations.Operation`, or `Foundation.Operation`.

[2016-11-28 16:51] MarkQSchultz commented on #79
And now I'm closing this issue as Swift 3 support is in `master`. If anyone needs additional help or has questions, let's move it to a new issue.

[2016-11-28 16:51] #79 closed

[2017-01-05 08:26] bmkor opened #85 "A possible deadlock when getting & setting Operation State?"
Would like to know if we could get the following deadlock when changing the state of an operation under multithreading.

I hope that this hypothetical is possible and I may have missed some important concepts in the mechanism of recursive lock.

Discussions are appreciated. In fact, I would like to thank anyone who spent their precious time on reading my hypothetical example below. Thanks.

######

[2017-01-24 06:24] ffried opened #86 "Swift Errors"
First of thanks for maintaining this library!

Are there any plans on changing from `NSError` to `Swift.Error`?
Currently I need to cast errors I get back from APIs or are thrown by throwing APIs from `Error` to `NSError` to be able to pass it to e.g. `PSOperation.finishWithError(error:)`. Since `NSError` also conforms to `Error` it shouldn't be too complicated to switch. Also currently all `Swift

[2017-01-24 06:29] ffried commented on #61
Why don't you include it enclosed with `#if os(iOS) [...] #endif`? That way it would only be available on iOS.

[2017-02-06 17:51] agiguere opened #87 "GroupOperation Finished not called when adding operation"
I notice that in a GroupOperation, if you generate a new operation in the method

`operationDidFinish(_ operation: Foundation.Operation, withErrors errors: [NSError])`

using addOperation

the `finished(_ errors: [NSError])` is not called

example: GroupOperation that contains OperationA & OperationB

when OperationB finish, you want to generate OperationC on a particular condition

OperationC wil

[2017-02-06 18:35] agiguere commented on #87
Just found something, I was generating 2 operations using the AddOperation, if I only generate one, the finished will be called

as stated in the example: when OperationB finish I am generating 2 independent operations (C & D) using the AddOperation, by doing this it looks like the BlockOberser finish completion handler is not called and the finish method also

Workaround: Generate Operation C and

[2017-02-24 10:28] ffried commented on #86
Closing this in favor of #88.

[2017-02-24 10:28] #86 closed

[2017-04-04 13:38] agiguere opened #89 "Swift 3.1 compatibility"
Module compiled with Swift 3.0.2 cannot be imported in Swift 3.1:

I think it just need to be recompile using the latest version of Xcode

thanks

alex

[2017-04-04 13:49] agiguere commented on #89
looks like it was on my ends, sorry!

[2017-04-04 13:49] #89 closed

[2017-04-12 23:26] scottymac commented on #83
@ichagall That is the expected behavior. `cancel()` just sets the state, but does not itself call `finish()` -- you have to also do that.

[2017-06-17 05:38] priteshshah1983 commented on #74
It doesn't look like this change was ever merged. Can you please confirm?

[2017-06-17 05:49] priteshshah1983 commented on #83
You should read the discussion in https://github.com/pluralsight/PSOperations/issues/74 as it is relevant

[2017-07-17 17:20] jimabc opened #93 "Operations using conditions can get stuck"
It appears PSOperations is susceptible to a race condition in which using conditions (MutuallyExclusive, in my case) can prevent dependent operations from executing, even though `super.isReady == true`.

**Sample Project**
I've put together a sample project to demonstrate the issue and though it's an attempt to brute force the issue, it does manifest in more typical use cases at scale.  The exampl

[2017-08-08 22:33] agiguere opened #95 "Swift 4 -> 2 branches ?"
I am starting migrating my apps to Swift 4 / iOS 11, I can see there are 2 branches for Swift 4 ?

which one should I use ?

thanks

[2017-09-26 08:12] etulusha-auto1 opened #103 "New cocoapods version with bugfixes and improvements"
The last release of cocoa pods version was v3.0.0 on Oct 2016. What about to release v3.1.0 with current muster branch?

[2017-09-27 21:45] MarkQSchultz commented on #103
I'll get on this now. Thanks.

[2017-09-27 22:18] MarkQSchultz commented on #103
Ok, updated and released v4.0.0. Seeing as to how this is a new version of swift and there were a number of fairly large fixes/changes, I decided to go with a major update.

[2017-09-27 22:18] #103 closed

[2017-10-23 09:49] pjcau commented on #95
Hi guys,
have news on swift 4 support?

thank

[2017-10-23 14:21] MarkQSchultz commented on #95
Master is already migrated to Swift 4 and the other branches are gone. 🙂

[2017-10-23 14:21] #95 closed

[2017-10-27 20:26] sean7512 opened #104 "Remove Calendar from Core"
When using core, we are forced to add ```NSCalendarsUsageDescription``` to our app's info.plist even though we do not use EventKit.  Can this be pulled out like Passbook and Health has been pulled out?

[2017-12-04 18:13] king7532 commented on #93
@jimabc did this ever get fixed? Have you tested with the tip of master?

[2017-12-07 03:09] iostalks opened #105 "When to support swift4?"

[2017-12-07 17:38] MarkQSchultz commented on #105
Hi @iostalks. `master` is actually already supporting Swift 4. The `readme` just needs to be updated.

[2017-12-07 17:43] MarkQSchultz opened #106 "Update readme to reflect Swift 4 support"
Right now, the documentation looks like `master` is still only on Swift 3. Since that's not the case, we need to update it to mention that it actually supports Swift 4.

[2017-12-07 17:44] MarkQSchultz commented on #105
I created an issue (#106) so we don't lose track of this.

[2017-12-18 20:08] jimabc commented on #93
@king7532 I ran the sample project again on iOS 11.2.1 and it's no longer reproducible.  Since posting the original issue my workaround was to stop using the MutuallyExclusive condition.

[2018-01-25 23:26] #105 closed

[2018-01-25 23:26] #106 closed

[2018-01-25 23:28] mcmurrym commented on #67
When you wait long enough... a bug is no longer important :/ sorry for the inconvenience.

[2018-01-25 23:28] #67 closed

[2018-01-25 23:32] mcmurrym commented on #104
I think that is a great idea. Feel free to submit a pull request with the solution, alternatively you'll have to wait till we get to it.

[2018-01-25 23:34] mcmurrym commented on #93
We have made a lot of changes since this issue was submitted. I apologize for not responding sooner. I believe this is fixed for iOS 10 as well as iOS 11. If you could verify that it is not a problem on iOS 10 any more that would be great!

[2018-01-25 23:37] mcmurrym commented on #85
Were you actually seeing this issue?

[2018-01-25 23:38] mcmurrym commented on #84
I'm open to solutions but am not an expert in this. If you feel you have an appropriate solution feel free to submit a pull request. Tests around this would be great too.

[2018-01-25 23:40] mcmurrym commented on #80
I would recommend creating a DidFinishOperationObserver implementation of OperationObserver. if you feel it should be added to PSOperations, you should submit a pull request :)

[2018-01-25 23:41] mcmurrym commented on #71
We have made many changes around race conditions, are you seeing this problem with the latest version?

[2018-01-25 23:43] mcmurrym commented on #32
I'm going to close this as I never heard anything back on whether or not it is a problem with the latest changes.

[2018-01-25 23:43] #32 closed

[2018-02-01 20:13] sean7512 commented on #104
Sounds good, if I get around to it before you, I'll put up a pull request.

[2018-03-12 20:19] axello commented on #104
Discussion: I'm busy splitting the Calendar away, and wonder if LocationCapability should not *also* go into it's separate subspec? As you would need either one of the NSLocationAlwaysUsageDescription, NSLocationAlwaysAndWhenInUseUsageDescription or NSLocationWhenInUseUsageDescription keys when you use the CoreLocation manager.

Or is Apple not so picky as regards to the CoreLocation plist entry a

[2018-03-12 20:21] mcmurrym commented on #104
Unless Apple complains about those just leave them. IMO the real problem is Apple. They have decided if you have certain imports (i.e. HealthKit) and don't use the code, you still need to explain why. Boo.

[2018-03-12 20:24] sean7512 commented on #104
On our last app submission, they only flagged us for missing the calendar description.  Our app does not use location and we were not required to add in a NSLocationAlwaysUsageDescription.  Although, that can change at any time.

[2018-03-12 20:25] axello commented on #104
Okay, I will leave that out for now. My app does use CoreLocation. Thanks for the swift response!
Busy on the changes now.

[2018-03-12 20:44] axello commented on #104
Pull request created.

[2018-04-26 08:20] gregoiredx opened #109 "Remove Location from Core"
As suspected by @sean7512  in [Remove Calendar from Core](https://github.com/pluralsight/PSOperations/issues/104#issuecomment-372448720),  Apple is now complaining for missing NSLocationAlwaysUsageDescription and NSLocationWhenInUseUsageDescription even though we don't use CLLocationManager in our app.
Can this be pulled out like Calendar has been pulled out?
I may try to submit a pull request if

[2018-04-26 10:07] gregoiredx commented on #109
I've submitted a [pull request](https://github.com/pluralsight/PSOperations/pull/110).

[2018-04-26 16:18] mcmurrym commented on #109
done.

[2018-04-26 16:18] #109 closed

[2018-05-19 16:46] jimabc commented on #93
Thanks for the update @mcmurrym. Since my last post I've stopped using PSOperations and will close this issue as it didn't seem to be common amongst the community.

[2018-05-19 16:46] #93 closed

[2018-08-25 06:42] bmkor opened #113 "Should the observer.operationDidFinish be called after state = .finished"
https://github.com/pluralsight/PSOperations/blob/69b5905a66b07aa4829621c70f4aff7f29ccf455/PSOperations/Operation.swift#L350-L354

Just wondering if the `state = .finished` should be before the `for observer in observers ...`.
The reasons are

* the description says operationDidFinish;
* the execution code in the `operationDidFinish` may assume the operation is finished; for example, its operationq

[2018-10-07 09:41] mohammdsss1 opened #115 "I need a help understand the operations dependency in this scenario"
I need to maintain the value updates of one variable across my app, so let's assume I have this variable called `number` of type `Int`.

I created an operation called `SerialOperation` which responsible for incrementing `number` by one, the other operation called `DataPrepOperation` will wait (dependency on `SerialOperation`) for that operation to finish in order to use it. I also created `PSBlock

[2018-10-20 03:09] bmkor commented on #85
No. A few unexplainable crashed gave me this thought. Anyway, those crashes are not seen in the current version. Thanks a lot.

[2018-10-20 03:09] #85 closed

[2018-11-27 12:09] jjatie commented on #87
@agiguere Are you saying before you would do something like this (and it wasn't working)?
[code]
and now you're doing this (and it is working)?
[code]

Asking for clarification because I'm running into similar issues.

[2018-11-27 12:10] jjatie commented on #113
Are you proposing an `operationWillFinish` method? Changes to this behaviour would break many observers in my code, and I imagine many others'.

[2018-12-24 11:11] romk1n opened #117 "trying to migrate to PSOperations"
Hi, Have a question:

I am trying to migrate from WWDC operations ported to swift customary to using PSOperations. however it seems like everywhere I have to use `PSOperationQueue()` explicitly and for some reason the typedef is not working? any help on how to ease of migration without modifying everywhere OperationQueue and having to `import PSOperations`?

Thanks so much in advance.

[2019-02-04 11:26] mohammdsss1 opened #118 "EXC_BAD_ACCESS"
My app was crashing without telling me where. So I turned the Address Sanitizer on for the scheme. When the app crashed again, the breakpoint was pointing to the setter property observer of `Operation` class as shown in the image below.

<img width="728" alt="screen shot 2019-02-04 at 13 21 10" src="https://user-images.githubusercontent.com/7831855/52205474-d6ba4500-287f-11e9-9258-c73f166fcce8.png

[2019-03-26 18:01] agiguere opened #121 "Swift 5 errors - bridging errors in Dynamic Framework"
I have a dynamic framework, inside my framework I have 2 others target, a test target and a demo target (demo app to test my framework)

my framework compiled successfully but I could not used it in other targets because of the errors below

I could see my operation subclasses but Xcode don't know if they are related to PSOperations or NSOperations

Example:

SWIFT_CLASS("_TtC9Dollarama14ParseOper

[2019-03-26 18:04] agiguere commented on #121
sorry for the code and paste, here is a clean one

[code]

[2019-03-26 18:06] agiguere commented on #121
my code was working fine before Xcode 10.2 / Swift 5

here is how I declare my class in my framework

[code]

[2019-03-26 19:10] mcmurrym commented on #121
depending on how you are integrating the library you may run into problems. master currently is on swift 4, I have a swift 5 branch I will be merging very soon

[2019-03-26 19:12] agiguere commented on #121
we are using Carthage, I tried both branch master & swift 5 and same results, thanks

[2019-03-26 19:22] mcmurrym commented on #121
I don't personally use carthage so I won't be able to provide much help here. If I run into this when migrating via the way we use it, I'll certainly be able to look into it more.

[2019-03-26 19:50] agiguere commented on #121
I was able to recreate the problem in a small project, only 1 file and push it to my github account,

if you have time please have a look, not sure it's related to carthage, the PSOperations is compiled by Carthage and could be include in my Single App without any problem, but in my app if I tried to include the main framework, it failed, if you check the xcode bridging file (xxxx-Swift.h), it loo

[2019-03-28 17:54] mcmurrym commented on #121
I'll try to look at this sometime soon. The truth is, Apple chose to use the same name we have. Apple renamed from `NSOperation` to `Operation` so when Swift 3 rolled out we created the `PSOperation` typealias, depending on the project configuration, I could see it being a problem still.

[2019-03-28 17:56] agiguere commented on #121
please wait, it looks like a carthage errors, I posted the errors there and they are investigating it and will release a new version soon ... I will keep this issue open just in case it's not carthage and we will close it as soon as I got new from them, thanks

[2019-04-01 15:14] agiguere commented on #121
Hi Matt, I am still waiting for a Carthage release but in the meantime I did this test and it works.

I created an iOS  dynamic framework with a single application as a new target and
instead of adding your dependency (with carthage), I added AFNetworking
and it turn out it works, no compile errors.

when you have time please have a look at the error in my test repo
https://github.com/agiguere/MyS

[2019-04-04 18:21] agiguere commented on #121
this issue has been fixed by the carthage team, (carthage version 0.33 for Swift 5)

[2019-04-04 18:21] #121 closed

[2019-10-01 04:04] matgar26 opened #124 "Swift Package Manager Support"
Would be great to be able to download with Swift Package Manager in Xcode 11

[2019-10-01 05:00] mcmurrym commented on #124
For sure! Feel free to create a package file and submit a PR

Thanks,

Matt

[2020-02-14 11:35] ffried commented on #124
I've opened #125 for this. 🙂

[2020-02-18 00:56] #124 closed

[2020-09-28 07:35] #113 closed

[2020-10-19 15:57] DmitrijMaz commented on #71
I have encountered this issue as well and i have found a 100% reproducible case.
1) Create a condition that is async (do a dispatch after 1 second and call completion with any result)
2) Add the operation with that condition to queue and cancel immediately
3) The operation will crash in debug build due to this assert, since the `var isReady: Bool` is returning `true` when the operation is cancelle

[2021-01-26 21:52] #104 closed

[2021-08-30 17:18] agiguere opened #130 "Failed to build binary framework with latest version of Carthage"
This project does not build anymore with Carthage, which now build dependancy as xcframeworks

looks like related to PSOperationsHealth

create a Cartfile
github "https://github.com/pluralsight/PSOperations.git" "master"

and run the command
carthage update --use-xcframeworks

and it will failed

thanks